.home_container{
    width: 100%;
    height: 90%;
    overflow: auto;

    margin-top: 2rem;

    /* background-color: rgb(198, 185, 185); */

}

.home_container h3{
    font-size: 1.5rem;
}

.dashboard-container{
    display:flex;
    justify-content: center;
}





.main-card{
    box-shadow: #252525 1px 1px 6px;  
    border-radius: 1rem;
    width:25rem;
    height: 20rem;
    background-color: #ffffff;
    margin-left:5rem;


}

.placed{
    font-size: 1.3rem;
}

.desc{
    font-size: .8rem;
}

.main-card h1{
    font-weight: bold;
}


@media screen and (max-width:768px) {
    .dashboard-container{
        flex-direction: column;
    }
    

    .container-fluid .main-card{
        box-shadow: #252525 1px 1px 6px;  
        border-radius: 1rem;
        width:20rem;
        height: 20rem;
        margin-bottom: 3rem;
        background-color: #ffffff;
    
    }

 .main-card{
        margin-left: 0;
    }
}


