



.heading{
    margin-top: 5rem;
    text-align: center;
    font-size: 5rem;
    color: #252525;
}
.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}



.card{
   
    width: 50rem;
    height: auto;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: #252525 1px 1px 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.card h2{
    margin: 1rem;
    font-size: 2.5rem;

}

.card form{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card form input{
    height: 3.0rem;
    padding-left: 1rem;
}

.card form label{
    font-size: 1.5rem;
}

.card form input[type="submit"]{
    background-color: blue;
    color: white;
    border:none;
    border-radius: 1rem;
    width: 50%;
    height: 3.6rem;
    align-self: center;
    margin-top: 2rem;
}

form .rem{
    display: flex;
    align-items: center;
    gap: 1rem;
}

input:checked{
    background-color: red;
}

.card .signup{
    font-size: 1.5rem;
    margin-top: 3rem;
}

.signup a{
    text-decoration: none;
    
}

.container .image{
    width: 50rem;
    height: 50rem;

}

footer{
    position: absolute;
    display: flex;
    color: white;
    padding-left: 1rem;
    align-items: center;
    font-size: 1.2rem;
    bottom: 0;
    width: 100vw;
    background-color: var(--color-dark);
    height: 3rem;
}